main {
    width: 90%;
    margin: 0 5%;
}

#dados {
    align-items: center;
}

@media (min-width:1000px) and (orientation:landscape) {
    #dashboard {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .janela {
        width: 45%;
        margin: 50px 0;
        padding: 50px;
    }

    .dados-item {
        display: flex;
        flex-flow: row nowrap;
    }

    .dados-item>* {
        justify-self: center;
        align-self: center;
        margin: 5px;
    }
}

@media (max-width:999px) and (orientation:landscape) {
    #dashboard {
        display: flex;
        flex-flow: row nowrap;
    }
    .dados-item {
        display: flex;
        flex-flow: column wrap;
        margin-top: 20px;
    }
    .dados-item>* {
    }
}

@media (max-width:999px) and (orientation:portrait) {
    #dashboard {
        display: flex;
        flex-flow: column wrap;
        margin: 10px 0;
    }

    .dados-item {
        display: flex;
        flex-flow: column wrap;
        margin-top: 20px;
    }

    #carrinhos {
        display: flex;
        flex-flow: column nowrap;
        margin: 20px 0;
    }
}