.formulario {
    width: 70%;
    margin: 15%;
    border: 3px solid grey;
    border-radius: 15px;
    box-shadow: 2px 15px 15px 15px grey;
    background-color: rgba(225, 220, 195, 0.9);
    padding: 25px;
}