{% extends 'base.html' %}

{% block titulo %}
{% if referer is defined %}
XPTO | Compra {{ carrinho.id }}
{% else %}
XPTO | Carrinho
{% endif %}
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ asset('css/carrinho.css') }}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block conteudo %}

<div id="carrinho" class="container-fluid shadow p-3">
    {% if carrinho is defined %}
        {% if referer is defined %}
            <h2 class="fs-2">Carrinho refª {{ carrinho.id }}</h2>
            <ol class="list-group list-group-numbered">
                {% for item in linhas_carrinho %}
                    <li class="list-group-item d-flex w-100 justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ item.produto.nome }}</div>
                            Preço Unitário: {{ item.getPrecoUnitario|preco }}<br/>
                            <small class="text-muted">Unidade: {{ item.produto.unidade.nome }}</small>
                        </div>
                        <div class="d-flex flex-column align-self-stretch justify-content-between">
                            <span class="badge bg-success rounded-pill align-self-end">{{ item.quantidade }}</span>
                            <span>Subtotal: {{ (item.quantidade * item.getPrecoUnitario)|preco }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ol>
            <ul class="list-group">
                <li class="list-group-item d-flex w-100 justify-content-between align-items-center">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Valor total</div>
                    </div>
                    <span class="fw-bold">{{ carrinho.getValorTotal|preco }}</span>
                </li>
                <li class="list-group-item d-flex w-100 justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Data da compra</div>
                    </div>
                    <span class="fw-bold">{{ carrinho.getDataCompra|date("d/m/Y") }}</span>
                </li>
                <li class="list-group-item d-flex w-100 justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Estado da compra</div>
                    </div>
                    <span class="fw-bold">{{ carrinho.estado }}</span>
                </li>
            </ul>
            <div class="d-grid gap-4 d-md-block mx-auto mt-3">
                <a href="{{ referer }}" class="btn btn-outline-secondary btn-lg">Voltar...</a>
            </div>

        {% else %}

            <h2 class="fs-2">Carrinho de {{ app.user.nomeProprio }} {{ app.user.nomeApelido }}</h2>
            <ol class="list-group list-group-numbered">
                {% for key, value in carrinho %}
                    {% if value is iterable %}
                        <li class="list-group-item d-flex w-100 justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ key }}</div>
                                Preço Unitário: {{ value.preco_unitario|preco }}<br/>
                                <small class="text-muted">Unidade: {{ value.unidade }}</small>
                            </div>
                            <div class="d-flex flex-column align-self-stretch justify-content-between">
                                <span class="badge bg-success rounded-pill align-self-end">{{ value.quantidade }}</span>
                                <span>Subtotal: {{ (value.quantidade * value.preco_unitario)|preco }}</span>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
            <ul class="list-group">
                <li class="list-group-item d-flex w-100 justify-content-between align-items-center">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Valor total</div>
                    </div>
                    <span class="fw-bold">{{ carrinho.valor_total|preco }}</span>
                </li>
                <li class="list-group-item d-flex w-100 justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Data da compra</div>
                    </div>
                    <span class="fw-bold">{{ carrinho.data_compra|date("d/m/Y") }}</span>
                </li>
            </ul>
            <div class="d-grid gap-4 d-md-block mx-auto mt-3">
                <a href="{{ path('grava_carrinho') }}" class="btn btn-outline-success btn-lg">Confirmar</a>
                <a href="{{ path('cancela_carrinho') }}" class="btn btn-outline-warning btn-lg">Cancelar</a>
            </div>
        {% endif %}
    {% else %}
        <div class="formulario p-5 container-sm">
            {{ form_start(form) }}
                {{ form_row(form.estado) }}
                <div class="row">
                    {{ form_widget(form.btn_submit, {'attr': {'class': 'col-sm-6 btn btn-outline-success'}}) }}
                    <a href="{{ path('admin_index') }}" class="btn btn-outline-warning col-sm-6">Cancelar</a>
                </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
</div>
{% endblock %}