<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail</title>
</head>
<body>
    <div class="d-flex flex-row justify-content-between">
        <img src="cid:logo" alt="Logotipo da empresa" width="75px" height="75px">
        <h1>Horta XPTO</h1>
    </div>
    <p>
        No dia {{ data }}, recebemos um contacto de {{ nome }} que nos forneceu os seguintes contactos:
    </p>
    {% for key, value in contactos %}
        <p>{{ key|capitalize }}: {{ value }}</p>
    {% endfor %}
    <p>E a seguinte mensagem:</p>
    <p>{{ mensagem }}</p>
</body>
</html>