<footer class="fixed-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-1">
                <img src="{{ asset('css/bootstrap-icons/facebook.svg') }}" alt="Facebook icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="{{ asset('/css/bootstrap-icons/twitter.svg') }}" alt="Twitter icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="{{ asset('/css/bootstrap-icons/whatsapp.svg') }}" alt="Whatsapp icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="{{ asset('/css/bootstrap-icons/linkedin.svg') }}" alt="LinkedIn icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="{{ asset('/css/bootstrap-icons/messenger.svg') }}" alt="Messenger icon" width="50" height="50">
            </div>
        </div>
    </div>
</footer>