<footer class="fixed-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-1">
                <img src="../css/bootstrap-icons/facebook.svg" alt="Facebook icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="../css/bootstrap-icons/twitter.svg" alt="Twitter icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="../css/bootstrap-icons/whatsapp.svg" alt="Twitter icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="../css/bootstrap-icons/linkedin.svg" alt="Twitter icon" width="50" height="50">
            </div>
            <div class="col-1">
                <img src="../css/bootstrap-icons/messenger.svg" alt="Twitter icon" width="50" height="50">
            </div>
        </div>
    </div>
</footer>