{% extends 'base.html' %}

{% block titulo %}
XPTO | Produtos
{% endblock %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/produtos.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ asset('/js/produtos.js') }}"></script>
{% endblock %}

{% block conteudo %}
<div class="row justify-content-evenly">
    {% for produto in produtos %}
        <div class="card shadow m-3 p-3 col-2">
            <img src="{{ asset('media/produtos/' ~produto.foto) }}" class="card-img-top img-thumbnail rounded border-success" alt="Foto de {{ produto.nome }}">
            <div class="card-body">
                <h5 class="card-title">{{ produto.nome }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Preço: {{ produto.getPrecoUnitario|preco }} / {{ produto.unidade.nome }}</h6>
                <p class="card-text">{{ produto.descricao }}</p>
                <div class="d-flex justify-content-center bd-highlight"><small>Stock: {{ produto.stock }} {{ pluralize(produto.unidade.nome, produto.stock) }}</small></div>
            </div>
            <div class="card-footer row">
                <a href="{{ path('add_carrinho', {id: produto.id}) }}" class="btn btn-outline-success col-lg-6 col-md-6 col-sm-6 p-0 m-1">Adicionar ao carrinho</a>
                <a href="{{ path('remove_carrinho', {id: produto.id}) }}" class="btn btn-outline-danger col-lg-6 col-md-6 col-sm-6 p-0 m-1">Remover do carrinho</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}