{% extends 'base.html' %}
{% block estilos %}
<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ asset('js/register.js') }}"></script>
{% endblock %}
{% block titulo %}
XPTO | Registo
{% endblock %}
{% block conteudo %}
<h2 class="text-center mt-3 mb-1">Registo de cliente</h2>
<div class="container-fluid formulario mt-5">
    <form action="{{ path('signup') }}" name="form_register" method="POST" class="needs-validation simple-validation-alert" autocomplete="off" novalidate>
        <div class="row">
            <div class="col-sm-4 col-lg-6 p-3">
                <label for="nome_proprio" class="form-label">Nome próprio</label>
                <input type="text" name="nome_proprio" id="nome_proprio" class="form-control" placeholder="Insira o seu nome próprio..." required>
                <div class="invalid-feedback">
                    Introduza um nome válido
                </div>
            </div>
            <div class="col-sm-4 col-lg-6 p-3">
                <label for="nome_apelido" class="form-label">Apelido</label>
                <input type="text" name="nome_apelido" id="nome_apelido" class="form-control" placeholder="Insira o seu apelido...">
            </div>
            <div class="col-sm-4 col-lg-6 p-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Insira o seu endereço de e-mail..." required>
                <div class="invalid-feedback">
                    Insira um endereço de e-mail válido
                </div>
            </div>
            <div class="col-sm-4 col-lg-6 p-3">
                <label for="morada" class="form-label">Morada</label>
                <input type="text" name="morada" id="morada" class="form-control" placeholder="Insira a sua morada...">
            </div>
            <div class="col-sm-4 col-lg-3 p-3">
                <label for="cod_postal" class="form-label">Código postal</label>
                <input type="text" name="cod_postal" id="cod_postal" class="form-control" pattern="\d{4}-\d{3}" placeholder="Insira o seu código postal...">
                <div class="invalid-feedback">
                    Código postal no formato xxxx-xxx
                </div>
            </div>
            <div class="col-sm-4 col-lg-6 p-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" name="password1" id="password1" class="form-control" minlength="6" required>
                <div class="invalid-feedback">
                    Necessário com mínimo 6 carateres
                </div>
            </div>
            <div class="col-sm-4 col-lg-6 p-3">
                <label for="password2" class="form-label">Confirmação da password</label>
                <input type="password" name="password2" id="password2" class="form-control" data-match="password1" minlength="6" required>
                <div class="invalid-feedback">
                    Tem de ser igual à password
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-6 p-3">
                <input type="submit" name="btn_submit" id="btn_submit" class="btn-primary p-2" value="Registar">
            </div>
        </div>
    </form>
    {{ form(form) }}
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}