{% extends "base.html" %}
{% block titulo %}
XPTO | Onde estamos
{% endblock %}
{% block estilos %}
{# Carregamos o ficheiro de estilos da biblioteca LeafLet #}
<link rel="stylesheet" href="../vendor/leaflet/leaflet.css">
{# Carregamos o nosso ficheiro de estilos para esta página #}
<link rel="stylesheet" href="../css/wherearewe.css">
{% endblock %}
{% block scripts %}
{# Carregamos o nosso ficheiro de Javascript #}
<script src="../js/wherearewe.js"></script>
{# Carregamos o ficheiro de Javascript da biblioteca LeafLet #}
<script src="../vendor/leaflet/leaflet.js"></script>
{# Carregamos o script do Google maps #}
<script async src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
{% endblock %}
{% block conteudo %}
<h2 class="text-center">Onde estamos</h2>
<section>
    <div id="map" style="height: 600px; width: 80%; margin: 10%;"></div>
</section>
<section>
    <div id="gmap"></div>
</section>
{% endblock %}